<app-header></app-header>

<div class="main-cnt">

    <div class="filter-cnt">
        <mat-icon>filter_list</mat-icon>
        <mat-button-toggle-group multiple >
            <mat-button-toggle value="Price">Price</mat-button-toggle>
            <mat-button-toggle value="Rating">Rating</mat-button-toggle>
            <mat-button-toggle value="Delivery Days">Delivery Days</mat-button-toggle>
        </mat-button-toggle-group>   
    </div>

    <div class="product-cnt"  >
        <mat-card class="product-card" appearence="outlined" *ngFor="let item of productList">
            <mat-card-header>
                <mat-card-title class="product-title">{{ item.name }} </mat-card-title>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <mat-icon >favorite_outline</mat-icon>
            </mat-card-header>
            <img mat-card-image src="{{ item.img_url }}">
            <div class="details">
                <mat-card-content>
                    <mat-card-subtitle class="product-dtl">Price: <span>{{ item.price | currency: 'INR' }}</span></mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">Rating: <span>{{ item.rating }}</span></mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">{{ item.description }}</mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">Delivery Days: <span>{{ item.delivery_days }}</span></mat-card-subtitle>
                </mat-card-content>
            </div>
        </mat-card>
    </div>


</div>