.main-cnt {
    width: 70%;
    height: 100%;
    // border: 1px solid black;
    margin: auto;
}

.filter-cnt {
    // border: 1px solid black;
    margin: 1em;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1); 
}

.product-cnt {
    // border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 30%;
    min-height: 20em;
    margin: 1em;
    padding: 1em;
}
.product-card img {
    background-size: cover;
    height: 200px;
    width: 290px;

}

.product-title {
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.product-dtl {
    font-size: 16px;
    margin: 0.3em 0;
}

.details {
    padding: 0 1em;
    border-radius: 0 1em 1em 1em;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.review-cnt p {
    font-size: 16px;
    font-weight: 500;
}