<app-header></app-header>

<div class="main-cnt">

    <div class="filter-cnt">

        <button mat-button>
            <mat-form-field>
                <mat-label class="inc-font">Price
                    <mat-icon>filter_list</mat-icon>
                </mat-label>

                <select matNativeControl [(ngModel)]="selectedPrice" (change)="filterFunction()">
                    <option value=""></option>
                    <option value="lowTohigh">low to high</option>
                    <option value="highTolow">high to low</option>
                </select>
            </mat-form-field>
        </button>

        <button mat-button>
            <mat-form-field>
                <mat-label class="inc-font">Rating
                    <mat-icon>filter_list</mat-icon>
                </mat-label>
                <select matNativeControl [(ngModel)]="selectedRating" (change)="filterFunction()">
                    <option value=""></option>
                    <option value="lowTohigh">low to high</option>
                    <option value="highTolow">high to low</option>
                </select>
            </mat-form-field>
        </button>

        <button mat-button>
            <mat-form-field>
                <mat-label class="inc-font">Delivery
                    <mat-icon>filter_list</mat-icon>
                </mat-label>

                <select matNativeControl [(ngModel)]="selectedDelivery" (change)="filterFunction()">
                    <option value=""></option>
                    <option value="latestOrder">latest order</option>
                    <option value="deliverySoon">delivered soon</option>
                </select>
            </mat-form-field>
        </button>
    </div>

    <div class="product-cnt">
        <mat-card class="product-card" appearance="outlined"
            *ngFor="let item of productList | search : searchQuery | filter : selectedPrice : selectedRating : selectedDelivery">
            <mat-card-header>
                <div class="card-header">
                    <button mat-button (click)="openDialog(item)">
                        <mat-card-title class="product-title">{{ item.name }}</mat-card-title>
                    </button>
                    <mat-icon>favorite_outline</mat-icon>
                </div>
            </mat-card-header>
            <img mat-card-image [src]="item.img_url">
            <div class="details">
                <mat-card-content>
                    <mat-card-subtitle class="product-dtl">Price: <span>{{ item.price | currency: 'INR'
                            }}</span></mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">Rating: <span>{{ item.rating }}</span></mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">{{ item.description }}</mat-card-subtitle>
                    <mat-card-subtitle class="product-dtl">
                        <p *ngIf="item.delivery_days !== 1">Delivery within {{ item.delivery_days }} days</p>
                        <p *ngIf="item.delivery_days === 1">Delivery today..</p>
                    </mat-card-subtitle>
                </mat-card-content>
            </div>
        </mat-card>
    </div>



</div>