<p>header works!</p>

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Product Web Portal</span>
    <span class="example-spacer"></span>

    <div class="example-spacer search-bar">
        <div class="icon-cnt">
            <mat-icon >search</mat-icon>
        </div>
        <div>
            <input id="searchNote" type="text" placeholder="Search">
        </div>
    </div>
   
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  