.example-spacer {
    flex: 1 1 auto;
  }

.search-bar {
    height: 2em;
    display: flex;
    border-radius:  .3em;
    background: rgb(221, 220, 220);
    color: gray;
    font-weight: 500;
    // font-size:;
}
.icon-cnt {
    margin: 0.4em ;
}

.search-bar input {
    outline: none;
    border: transparent;
    width: 280%;
    height: 2em;
    background: none;
    font-size: 16px;
    color: rgb(93, 93, 93);
}